src/main/resources/simple_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/calc"
           targetNamespace="http://www.example.org/calc" elementFormDefault="qualified">

    <xs:element name="getRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="square" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>